.create-quiz-container {
  width: 75%;
  background-color: #ededed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 5em auto 0 auto;
  padding: 5px;
}


.create-btn {
  margin-bottom: 1em;
}