.display-4{
  color: rgb(219, 161, 94);
  font-family: 'Permanent Marker', cursive;
  font-size: 75px;
  padding-bottom: 200px;
  padding-top: 200px;
  text-align: center;
  vertical-align: middle;
}

.navbar {
  margin-bottom: 50px;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px
}

#welcomeJumbo {
  /* This is just a place holder image */
  background-image: url(../img/splash2.jpg);
  background-size: cover;
}

#indexJumbo {
  background-image: url(../img/splash.jpg);
  background-size: 100% 100%;
}

.lead {
  color: red;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
}

#Enter-BTN {
  color: red;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
}

#SignUpContainer{
  padding-top: 150px;
}

.categoryTitle {
  height: 120px;
  width:100%;
  font-style: italic;
  background-color:rgba(250,250,250,100);
  padding-left: 20px;
  padding-top:45px;
  font-size: 50px;
}
