.display-4{
  color: rgb(219, 161, 94);
  font-family: 'Permanent Marker', cursive;
  font-size: 75px;
  padding-bottom: 200px;
  padding-top: 200px;
  text-align: center;
  vertical-align: middle;
}
.navbar {
  margin-bottom: 50px;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px
}

#welcomeJumbo {
  /* This is just a place holder image */
  background-image: url(../img/splash2.jpg);
  background-size: cover;
}

#indexJumbo {
  background-image: url(../img/splash.jpg);
  background-size: 100% 100%;
}

.lead {
  color: red;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
}

#Enter-BTN {
  color: red;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
}

#loginContainer{
  padding-top: 50px;
}

#SignUpContainer{
  padding-top: 150px;
}
