body {
  background-image: linear-gradient(to right, #C6FFDD, #FBD786, #f7797d);
  background-repeat: no-repeat;
  background-size: auto;
}

.take-quiz-container {
  width: 50%;
  background-color: #ededed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 7em auto;
  padding: 2em;
  border-radius: 10px;
}

.quiz-name {
  font-family: 'Permanent Marker', cursive;
}

.quiz-question {
  padding: 0.5em;
}

.submit-btn {
  margin: 1em 0 0 0;
}
